
/* Main app stylesheet. We use the BEM methodology for modular CSS.
 * For more information, visit: http://getbem.com/. We use the "b"
 * namespace for block elements
 */

// Importing fonts, colors, animations and mixins

@import 'imports/_fonts';
@import 'imports/_colors';
@import 'imports/_animations';
@import 'imports/_mixins';

// Initial configurations for body

.b-body {	
	overflow-x: hidden;
	background-color: @white;	
}

// Styles for header and it's elements

.b-header {
	position: relative;		// Reference for child nodes
	width: 95vw;
	height: 95vh;
	margin: 2.5vh auto;	
	&-content {
		overflow: hidden;		
		position: relative;		
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 100%;
		opacity: 0;
		box-shadow: 3px 3px 2px fadeout(@black, 80%),
	             -3px -3px 2px fadeout(@black, 80%);
		&__img {
			position: absolute;
			z-index: 0;
			bottom: 5%;
			left: 0;
			@media (min-width: 576px) {
				bottom: -20%;
				@media (min-width: 768px) {
					left: 10%;
					bottom: -40%;
					@media (min-width: 992px) { bottom: -20%; }
				}
			}
		}
	}
	&-titlebox {
		position: relative;
		z-index: 10;
		width: 80%;		
		@media (min-width: 576px) {
			width: 70%;			
			@media (min-width: 768px) { width: 50%; }
		}
		&__title {
			position: relative;
			z-index: 10;
			padding: .5rem 1rem;
			font-family: @titleFont;
			font-weight: 700;
			font-size: 2.2rem;
			text-transform: uppercase;
			color: @white;
			background-color: @black;			
			@media (min-width: 576px) {				
				font-size: 2.8rem;
				@media (min-width: 768px) { font-size: 3.5rem; }
			}
		}
		&__decoration {
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: @darkViolet;
			transform: rotate(5deg);
		}
	}
}

// Header sliders

.b-header-slider {
	position: absolute;
	transition-duration: .5s;
	&--vertical {	width: .1rem; }
	&--horizontal { height: .1rem; }
	&--top { top: 0; }
	&--left { left: 0; }
	&--right { right: 0; }
	&--bottom { bottom: 0; }
	&--light-violet { background-color: @lightViolet; }	
}

// Styles for phones section and it's main cards

.b-phones-section {
	display: flex;
	flex-flow: column wrap;
	padding: 2.5vh 2.5vw;
	@media (min-width: 768px) {
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}

.b-phones-card {
	min-height: 50vh;
	box-shadow: 2px 2px 1px fadeout(@black, 90%),
	            -2px -2px 1px fadeout(@black, 90%);
	width: 100%;
	margin-bottom: 1rem;
	@media (min-width: 768px) {
		&--small { width: 32vw; }
		&--large { width: 60vw; }
	}
	&--black { background-color: @black; }
	&--centered {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&--spaced { padding: 2rem; }
	&__label {
		.label;
	}
	&__text {
		.text;
	}
}

// These styles will take care of the phone highlight section

.b-phone-highlight:extend(.b-phones-section) {
	min-height: 100vh;
	padding-top: 3rem;
	padding-bottom: 3rem; 
	background-color: @darkGrey;		
}

// Highlights cards styles

.b-highlight-card {
	position: relative;
	min-height: 50vh;
	width: 100%;
	overflow: hidden;	
	background-color: @black;
	box-shadow: 2px 2px 1px fadeout(@black, 10%),
	            -2px -2px 1px fadeout(@black, 10%);
	@media (min-width: 768px) {
		width: 46vw;
		margin-bottom: 0;
	}
	&:not(:last-child) {
		margin-bottom: 1rem;
		@media (min-width: 768px) { margin-bottom: 0; }
	}
	&--flex { display: flex; }
	&--centered {		
		justify-content: center;
		align-items: center;
	}
	&--column {	flex-flow: column nowrap;	}
	&--column-end { justify-content: space-between; }
	&__label {
		.label;
		z-index: 10;
		@media (min-width: 768px)	{ font-size: 2rem; }
	}
	&__img {
		/* These adjustment will keep the phone image consistent throughout 
		 * viewports
		 */
		position: absolute;
		z-index: 0;
		top: -50%;
		left: 5%;
		@media (min-width: 576px) {
			top: -70%;
			left: 10%;
			@media (min-width: 768px) { top: -30%; }
		}
	}
}

// Styles for highlight textbox

.b-highlight-textbox {
	padding: 2rem;
	&__title {
		width: 50%;
		margin-left: auto;
		margin-bottom: 2rem;
		padding: .5rem 1rem;
		font-family: @titleFont;
		font-weight: 700;		
		text-transform: uppercase;
		text-align: center;
		color: @white;
		background-color: @violet;
	}
	&__text {
		.text;
	}
}

// Styles for highlight buttonbox and it's buttons

.b-highlight-buttonbox {
	display: flex;
	flex-flow: row nowrap;
}

.b-highlight-button {
	display: block;
	width: 25%;
	border: none;
	padding: 1rem;
	font-size: 2rem;
	transition-duration: .5s;
	cursor: pointer;
	&:focus { outline: 1px solid @lightViolet; }
	&--inactive {
		color: @darkGrey;
		background-color: transparent;
	}
	&--active {
		color: @darkViolet;
		background-color: @white;
	}
}

// Styles for tablet section

.b-tablet-section {
	overflow: hidden;
	padding-top: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	@media (min-width: 768px) {
		padding-top: 4rem;
		@media (min-width: 992px) { padding-top: 6rem; }
	}
	&__title {
		margin-bottom: 1.5rem;
		font-family: @titleFont;
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		text-transform: uppercase;
		@media (min-width: 768px) {
			font-size: 2.5rem;
			@media (min-width: 992px) {
				font-size: 3rem;
			}
		}
	}
	&__detached {
		padding-left: .5rem;
		padding-right: .5rem;
		color: @white;
		background-color: @lightViolet;
		@media (min-width: 768px) {
			padding-left: .8rem;
			padding-right: .8rem;
		}
	}
	&__text {		
		font-family: @textFont;
		font-weight: 700;
		text-align: center;
		color: @darkGrey;
		@media (min-width: 576px) {
			max-width: 35rem;
			margin-right: auto;
			margin-left: auto;			
		}
	}
	&__img {
		position: relative;
		top: 2rem;
		display: block;
		margin-right: auto;
		margin-left: auto;
		@media (min-width: 768px) {
			top: 5rem;
			@media (min-width: 992px) { top: 6rem; }
		}
	}
}

// Main styles for video section and videobox

.b-video-section {
	padding: 3rem 2.5vw;
	background-color: @lightGrey;
	&-platform {
		
	}
	&__title {
		.label;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 2rem;
		font-size: 1.6rem;
		@media (min-width: 576px) {
			font-size: 2rem;
			margin-left: 10vw;
			@media (min-width: 768px) {
				font-size: 2.5rem;
				@media (min-width: 992px) {
					font-size: 3rem;
				}
			}
		}
	}
}

// Styles for video section 'platform'

.b-video-section-platform {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: @white;
	box-shadow: 3px 3px 2px fadeout(@black, 80%),
             -3px -3px 2px fadeout(@black, 80%);
  @media (min-width: 576px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
		@media (min-width: 992px) {
			padding-top: 4rem;
			padding-bottom: 4rem;
		}
	}
}

.b-videobox {
	position: relative;  // Reference position for child nodes
	max-width: 50rem;
	@media (min-width: 576px) {
		width: 70%;		
		margin-right: 10vw;
		margin-left: auto;
	}
	&__video {
		position: relative;	 // For z-index layering
		z-index: 10;
		width: 100%;	
		margin-bottom: 0;
	}
}

// Styles for videobox top layer

.b-videobox-layer {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 97.5%;
	background-color: fadeOut(@black, 20%);
	@media (min-width: 768px) {
		height: 98%;
		@media (min-width: 992px) { height: 98.5%; }
	}
}

.b-videobox-playbtn {
	border: 1px solid @white;
	padding: 1rem;	
	background-color: fadeOut(@black, 10%);
	box-shadow: 2px 2px 1px @black;
	cursor: pointer;
	&:focus {
		border-color: @lightViolet;
		outline: none;
		transition-duration: .4s;
	}
	&__icon {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: .5rem;
		font-size: 3rem;
		color: @violet;
		@media (min-width: 992px) { font-size: 5rem; }
	}
	&__text {
		font-family: @titleFont;
		font-weight: 700;
		text-transform: uppercase;
		color: @white;
		@media (min-width: 992px) { font-size: 1.5rem; }
	}
}

// General footer section styles

.b-footer {
	padding: 2rem 1rem;
	background-color: @black;
	@media (min-width: 768px) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.b-footer-listbox {
	display: flex;
	flex-flow: column nowrap;
	margin-right: auto;
	margin-left: auto;
	max-width: 30rem;
	@media (min-width: 576px) {
		flex-flow: row nowrap;
		justify-content: space-around;
		@media (min-width: 768px) { max-width: 40rem; }
	}
}

.b-footer-list-title {
	display: inline-block;
	padding: .2rem .5rem;
	font-family: @titleFont;
	font-weight: 700;
	text-transform: capitalize;
	color: @black;
	background-color: @white;
}

.b-footer-list {
	list-style-type: none;
	padding-left: 0;
	&__link {
		font-family: @titleFont;
		font-weight: 700;
		text-transform: uppercase;
		color: #999;
		transition-duration: .3s;
		&:hover { color: @lightViolet; }
	}
}
